.navbar {
    padding: 20px;
}

.container {
    margin: 0 auto;
    // padding: 0 150px;
    width: 70%;
}

.layout {
    width: 100%;
}

.newAmsterdamRegular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}